#!/usr/bin/make -f
SHELL = /bin/sh -e

.NOTPARALLEL:

include /usr/share/dpkg/pkg-info.mk
include /usr/share/dpkg/architecture.mk
include /usr/share/dpkg/buildflags.mk

libdir = /usr/lib/${DEB_HOST_MULTIARCH}

ifeq ($(shell dpkg-vendor --derives-from Ubuntu && echo yes),yes)
VENDOR := UBUNTU
DEB_BUILD_PARALLEL = yes
else
VENDOR := DEBIAN
endif

ifneq (,$(filter parallel=%,$(DEB_BUILD_OPTIONS)))
  MAKEFLAGS += -j$(patsubst parallel=%,%,$(filter parallel=%,$(DEB_BUILD_OPTIONS)))
endif

V ?= 1

sysdatadir = debian/xemu/usr/share/xemu

common_configure_opts = \
	--with-pkgversion="Debian $(DEB_VERSION)" \
	--extra-cflags="$(CFLAGS) $(CPPFLAGS)" --extra-ldflags="$(LDFLAGS) -Wl,--as-needed" \
	--localstatedir=/var

ifneq ($(DEB_BUILD_GNU_TYPE), $(DEB_HOST_GNU_TYPE))
common_configure_opts  += --cross-prefix=$(DEB_HOST_GNU_TYPE)-
endif

ifneq ($(filter $(DEB_HOST_ARCH),i386 x32),)
XXXstaticpie = --disable-pie
else
XXXstaticpie =
endif

%:
	dh $@

override_dh_auto_configure:

override_dh_auto_build:
	./build.sh ${XEMU_BUILD_OPTIONS} ${common_configure_opts} || true
	@if [ -f debian/copyright ]; then cp debian/copyright debian/qemu.deb.copyright; fi
	@if [ -f dist/LICENSE.txt ]; then cp dist/LICENSE.txt debian/copyright; fi

override_dh_auto_test:

override_dh_auto_install:
	@mkdir -p debian/xemu/usr/bin
	@mkdir -p debian/xemu/usr/share/doc/xemu
	@mkdir -p debian/xemu/usr/share/applications
	@if [ -f debian/qemu.deb.copyright ]; then install -DT debian/qemu.deb.copyright debian/xemu/usr/share/doc/xemu/qemu.deb.copyright; fi
	@if [ -f dist/xemu ]; then install -DTm 0755 dist/xemu debian/xemu/usr/bin/xemu; fi
	@if [ -f ui/xemu.desktop ]; then install -DT ui/xemu.desktop debian/xemu/usr/share/applications/xemu.desktop; fi
	@if [ -f ui/icons/xemu_16x16.png ]; then install -DT ui/icons/xemu_16x16.png debian/xemu/usr/share/icons/hicolor/16x16/apps/xemu.png; fi
	@if [ -f ui/icons/xemu_24x24.png ]; then install -DT ui/icons/xemu_24x24.png debian/xemu/usr/share/icons/hicolor/24x24/apps/xemu.png; fi
	@if [ -f ui/icons/xemu_32x32.png ]; then install -DT ui/icons/xemu_32x32.png debian/xemu/usr/share/icons/hicolor/32x32/apps/xemu.png; fi
	@if [ -f ui/icons/xemu_48x48.png ]; then install -DT ui/icons/xemu_48x48.png debian/xemu/usr/share/icons/hicolor/48x48/apps/xemu.png; fi
	@if [ -f ui/icons/xemu_256x256.png ]; then install -DT ui/icons/xemu_256x256.png debian/xemu/usr/share/icons/hicolor/256x256/apps/xemu.png; fi
	@if [ -f ui/icons/xemu_512x512.png ]; then install -DT ui/icons/xemu_512x512.png debian/xemu/usr/share/icons/hicolor/512x512/apps/xemu.png; fi
	@if [ -f ui/icons/xemu.svg ]; then install -DT ui/icons/xemu.svg debian/xemu/usr/share/icons/hicolor/scalable/apps/xemu.svg; fi
